html {
  height: 100%;
}
body {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
  padding: 0;
  margin: 0;
  align-items: center;
  .col {
    padding: 1em;
    width: 100px;
  }
  header {
    height: 100%;
    width: 10%;
  }
  .content {
    flex: 1;
    padding: 0;
  }
}

.social {
  display: flex;
  justify-content: space-evenly;
  a {
    color: black;
    &:hover {
      color: red;
    }
    svg {
      width: 20px;
      height: 20px;
    }
  }
}

nav {
  width: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 8vw;
    padding: 0;
    margin: 0;
  }
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    li {
      list-style: none;
      margin-top: 1vh;
      margin-bottom: 1vh;
      a {
        text-decoration: none;
        color: #777;
        font-weight: bold;
        font-size: 0.8rem;
        &:hover {
          color: red;
        }
      }
    }
  }
  svg {
    margin: 0.5vw;
  }
}

// Carousel
.carousel {
  position: relative;
  height: 700px;
  width: 90%;
  margin: 0 auto;
  .is-hidden {
    display: none;
  }
  &__nav {
    display: flex;
    justify-content: center;
  }
  &__indicator {
    border: 0;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 0 15px;
    cursor: pointer;
  }
  &__indicator.current-slide {
    background-color: rgba(0, 0, 0, 0.75);
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__track {
    padding: 0;
    margin: 0;
    list-style: none;
    height: 100%;
    position: relative;
    transition: transform 250ms ease-in-out;
    &-container {
      background-color: black;
      height: 100%;
      position: relative;
      overflow: hidden;
    }
  }
  &__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  &__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    font-size: 1rem;
    color: gray;
    background-color: rgba(220, 220, 220, 0.7);
    margin: 0 5px;
    height: 100px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
    &--left {
      left: 0px;
    }
    &--right {
      right: 0px;
    }
  }
}

//Biografia

section.bio {
  &_title {
    background-image: url("../images/herParada2.jpg");
    background-size: 20% 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &_info {
    h2 {
      font-size: 1.2rem;
    }
    article.info {
      &_text {
        font-size: 0.8rem;
      }
    }
  }
}

// Agency
article.services {
  h5 {
    color: red;
    font-size: 1rem;
  }
  font-size: 0.8rem;
}

// Portfolio
.portfolio {
  grid-row: 1fr;
  grid-auto-columns: 1fr;
  img {
    width: 100px;
    height: 200px;
  }
}

// Contact
.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .links {
    display: flex;
    flex-direction: column;
    width: 30%;
    a {
      text-decoration: none;
      color: black;
      display: flex;
      align-items: center;
      &:hover {
        color: red;
      }
      svg {
        margin-right: 0.2vw;
      }
    }
  }
  .form {
    &__data {
      display: flex;
      flex-direction: row;
      input {
        border: 3px black solid;
        padding: 0;
        margin: 0;

        height: 30px;
      }
    }
    &__message {
      padding: 0;
      margin: 0;
      display: flex;
      textarea {
        resize: none;
        outline: none;
        width: 100%;
        height: 100px;
        border: 3px black solid;
      }
    }
    button {
      width: 100%;
      background-color: transparent;
      border: 3px black solid;
      height: 50px;
    }
  }
}
